---
import Container from "./Container.astro";
const Blogs = [
  {
    name: "punchline",
    title: "Punchline",
    path: "./images/thumbnails/punchline.jpg",
    gif: "./images/thumbnails/punchline.gif",
    desc: "A game that make you laugh while learning English with Voice Recognition.",
  },
  {
    name: "wordwise",
    title: "Wordwise",
    path: "./images/thumbnails/wordwise.jpg",
    gif: "./images/thumbnails/wordwise.gif",
    desc: "An education games for learning daily English dialogue with Voice Recognition.",
  },
  {
    name: "wordwise_mobile",
    title: "Wordwise: Mobile",
    path: "./images/thumbnails/wordwise_mobile.jpg",
    gif: "./images/thumbnails/wordwise_mobile.jpg",
    desc: "A mobile game that learns speaking English in certain conditions such as being a receptionist",
  },
];
---

<div id="blog" class="z-30">
  <Container>
    <div class="mb-12 space-y-2 text-center">
      <h2 class="text-3xl font-bold md:text-4xl text-white">
        From Idea to Impact: Our Successful Collaboration
      </h2>
      <p class="lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300">
        Laying the Groundwork for Success: A Step-by-Step Look at Our
        Collaborative Process
      </p>
    </div>
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      {
        Blogs.map((post) => (
          <div class="group p-6 sm:p-8 rounded-3xl border border-gray-700 bg-gray-800 bg-opacity-50 shadow-2xl backdrop-blur-xl shadow-gray-600/10 flex flex-col">
            <div class="rounded-xl h-64 overflow-hidden relative">
              <img
                src={post.path}
                alt="art cover"
                loading="lazy"
                width="1000"
                height="667"
                class="h-64 w-full absolute opacity-100 group-hover:opacity-0 left-0 top-0 object-cover transition duration-300  group-hover:scale-105"
              />
              <img
                src={post.gif}
                alt="art cover"
                loading="lazy"
                width="1000"
                height="667"
                class="h-64 w-full absolute opacity-0 group-hover:opacity-100 left-0 top-0 object-cover transition duration-300  group-hover:scale-105"
              />
            </div>
            <div class="mt-6 flex flex-col grow gap-3 h-auto">
              <h3 class="text-2xl font-semibold text-white capitalize">
                {post.title}
              </h3>
              <p class="flex-1 px-4 text-gray-300">{post.desc}</p>
              <div class="flex flex-col ">
                <a
                  href={`products/${post.name}/`}
                  class="text-info hover:text-base-200 hover:border-secondary/50 self-end bg-none hover:bg-info font-medium hover:font-semibold transition-all duration-200 border-2 shadow-none hover:shadow-info/40 hover:shadow-xl border-info px-4 py-2 rounded-md animate-pulse hover:animate-none "
                >
                  Read more
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</div>
