---
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/Container.astro";
import NavSpacer from "../../components/NavSpacer.astro";

const { product } = Astro.params;

const markdown = await Astro.glob("../../markdown/*.md");
const pageMarkdown = markdown.find((p) => p.frontmatter.name === product);
if (!pageMarkdown) {
  return Astro.redirect("/");
}
const { name, sub } = pageMarkdown.frontmatter;
---

<Layout title="Welcome to Lunar Interactive">
  <NavSpacer />
  <div class="h-[50dvh] overflow-hidden">
    <img
      src=`${import.meta.env.BASE_URL}./images/thumbnails/${product}.jpg`
      class="w-full object-cover object-center h-full"
      alt=""
    />
  </div>
  <Container>
    <div class="mt-12">
      <h1 class="text-5xl font-bold">{name}</h1>
      <h2 class="ml-6 mt-6 text-lg">{sub}</h2>
    </div>
    <div>
      <div class="mt-6 prose prose-lg prose-indigo mx-auto dark:prose-dark">
        <div set:html={pageMarkdown.rawContent} />
      </div>
    </div>
  </Container></Layout
>
